@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Kumbh+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
    font-family: var(--font-jost), sans-serif;

  }

/* ===== Custom Utility Classes ===== */

/* Primary and secondary green tones */
.green-primary {
  background-color: #0F402D;
  color: #ffffff;
}

.text-green-primary {
  color: #0F402D;
}

.bg-green-primary {
  background-color: #0F402D;
}

.bg-green-secondary {
  background-color: #0DB14B;
}

.text-green-secondary {
  color: #0DB14B;
}

.bg-green-light {
  background-color: #cce8df;
}